*.DS_Store
/.sass-cache/
*.scssc
wp-config.php
wp-content/uploads/
config.codekit
.htaccess
error.log
access.log

#archivos en server de producción
.user.ini
Hoefler_Text.ttf
TAR.php
XCloner.php
administrator/
administrator_mezcaleltercouno/
backup_2016-07-19_09-23_localhost-sql-nodrop.tar
backup_2016-08-20_15-19_mezcalelterco.com-sql-nodrop.tar
error_log
fonts/
google0828093ba7b5fecb.html
licencia.txt
mezcalelterco.com/
readme.d322316b3b24c2bc7631da588c640b6e.html
registro.php
wordfence-waf.php
wp-viejo/
