.woocommerce-checkout.woocommerce-order-received {
	$col-1: 100%/12;

	margin-top: 127px;

	p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
		@extend %terco;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 120px;
	}

	.woocommerce {
    	max-width: 100% !important;
    	padding-left: $col-1*1;
    	padding-right: $col-1*1;
	}

	ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		@include under(sm) {
			justify-content: center;
		}
		@include under(mobile) {
			flex-direction: column;
		}

	}

	.woocommerce ul.order_details li {
		border-right: 1px solid #bbbbbb;
		@include under(sm) {
			margin-bottom: 20px;
		}
		@include under(mobile) {
			border: 0;
		}
	}

	table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details th,
	table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details td {
		text-transform: capitalize !important;
		font-size: 17px;
		line-height: 28px;
		letter-spacing: 1px;
		padding: 6px 0;
		border: 0;
	}

	table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details td.woocommerce-table__product-name.product-name {
		text-transform: uppercase !important;
		font-size: 17px;
		line-height: 28px;
		letter-spacing: 1px;
		padding-left: 15px;
	}

	.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1,
	.woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
		text-transform: capitalize;
		font-size: 17px;
		line-height: 28px;
		letter-spacing: 1px;

		address {
			@extend %helvetica-light;
			border: 0;
		}
	}
}
